.calendar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust min size for larger squares */
    gap: 40px 20px;
    padding: 20px;
  }
  
  .calendar-day {
    position: relative; /* Needed for absolute positioning inside the cell */
    color: #fff;
    cursor: pointer;
    --shadow-color: brown;
    box-shadow: 
    1px 0px 0px -1px var(--shadow-color),0px 1px 0px -1px var(--shadow-color),
    2px 1px 0px -1px var(--shadow-color),1px 2px 0px -1px var(--shadow-color),
    3px 2px 0px -1px var(--shadow-color),2px 3px 0px -1px var(--shadow-color),
    4px 3px 0px -1px var(--shadow-color),3px 4px 0px -1px var(--shadow-color),
    5px 4px 0px -1px var(--shadow-color),4px 5px 0px -1px var(--shadow-color),
    6px 5px 0px -1px var(--shadow-color),5px 6px 0px -1px var(--shadow-color),
    7px 6px 0px -1px var(--shadow-color),6px 7px 0px -1px var(--shadow-color),
    8px 7px 0px -1px var(--shadow-color),7px 8px 0px -1px var(--shadow-color),
    /* side outline */
    1px 0px 0px black,0px 1px 0px black,
    2px 1px 0px black,1px 2px 0px black,
    3px 2px 0px black,2px 3px 0px black,
    4px 3px 0px black,3px 4px 0px black,
    5px 4px 0px black,4px 5px 0px black,
    6px 5px 0px black,5px 6px 0px black,
    7px 6px 0px black,6px 7px 0px black,
    8px 7px 0px black,7px 8px 0px black,
    /* bottom outline */
    9px 8px 0px black,8px 9px 0px black;
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
  }

  .calendar-day.future{
    background-color: #FF4F38;
  }

  .calendar-day.past{
    --shadow-color: #a854a4;
    background-color: #f2a2ee;
  }

  .calendar-day.current{
    --shadow-color: rgb(59, 125, 79);
    background-color: rgb(93, 189, 122);
  }
  /* On hover, shake present */
.calendar-day.future.active{
  animation: shake 0.5s ease-in-out;
  animation-iteration-count: 1;
}

/* rotate back and forwards smoothly */

@keyframes shake {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(2deg); }
  40% { transform: rotate(-2deg); }
  60% { transform: rotate(2deg); }
  80% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}
@keyframes depressShadow{
0%{
  transform: translate(0px, 0px);
  }
  20%{
  transform: translate(1px, 1px);
  
  }
  40%{
    transform: translate(2px, 2px);
 
  }
  60%{
    transform: translate(3px, 3px);
 
  }
  80%{
    transform: translate(4px, 4px);
    
    }
  

  100%{
    transform: translate(5px, 5px);
    box-shadow: 
    1px 0px 0px -1px var(--shadow-color),0px 1px 0px -1px var(--shadow-color),
    /* side outline */
    1px 0px 0px black,0px 1px 0px black;
    /* bottom outline */
  }
} 


/* On click, depress */
.calendar-day.opened.active, .calendar-day.current.active, .calendar-day.past.active{
  animation: depressShadow 0.2s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* alter box shadow */
}

  .calendar-day img {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    /* height: 100%;  */
    position: absolute;
    bottom: 0;
  }

  .calendar-day.viewed {
  }
 

  .content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Style for the day number */
  .day-number {
    font-size: 24px;
    position: absolute; /* Position the day number absolutely */
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
  }

  .modal-content {
    position: relative;
    width: auto;
    /* other styles for your modal content */
  }
  
  .modal-close {
    position: absolute;
    top: 5px;
    right: 12px;
    border: 1px solid #fff;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #fb4141;
    /* additional styling to make it look like a close button */
  }

  .youtube{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }