html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("/advent/backgrounds/main.svg");  
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='58' height='66.981' patternTransform='scale(2) rotate(105)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(122, 46%, 65%, 1)'/><path d='M57.994 92.097l-14.498-8.37.002-16.745 14.5-8.373 14.498 8.37-.002 16.745zm-58 0l-14.498-8.37.002-16.745 14.5-8.374 14.498 8.37-.002 16.745zM29.002 8.372L14.504.002l.002-16.745 14.5-8.373 14.498 8.37-.002 16.744zm29 16.748l-14.498-8.37.002-16.745 14.5-8.373L72.504.002l-.002 16.744zm-58 0l-14.498-8.37.002-16.745 14.5-8.374L14.504.001l-.002 16.745zm57.996 33.489L43.5 50.239l.002-16.745 14.5-8.374L72.5 33.49l-.002 16.745zm-29.004 16.74l-14.498-8.37.002-16.744 14.5-8.374 14.498 8.37-.002 16.745zm.004-33.488L14.5 33.49l.002-16.745 14.5-8.374 14.498 8.37-.002 16.745zm-29 16.747l-14.498-8.37.002-16.744 14.5-8.374L14.5 33.49l-.002 16.745z'  stroke-width='1' stroke='none' fill='hsla(122, 60%, 80%, 0.54)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='80' patternTransform='scale(3) rotate(120)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(88, 50%, 53%, 1)'/><path d='M46.444 90.194l-6.532-4.112-6.438 4.116 1.966-7.694-6.084-5.006 7.872-.36 3.04-7.336 2.684 7.156 7.692.624-5.992 5.01zm0-80l-6.532-4.112-6.438 4.116 1.966-7.694-6.084-5.006 7.872-.36 3.04-7.336 2.684 7.156 7.692.624-5.992 5.01zm-40 40l-6.532-4.112-6.438 4.116 1.966-7.694-6.084-5.006 7.872-.36 3.04-7.336 2.684 7.156 7.692.624-5.992 5.01zm80 0l-6.532-4.112-6.438 4.116 1.966-7.694-6.084-5.006 7.872-.36 3.04-7.336 2.684 7.156 7.692.624-5.992 5.01z'  stroke-width='1' stroke='none' fill='hsla(117, 63%, 88%, 0.48)'/><path d='M60.1 56.175l-1.14 2.751-2.952.135 2.283 1.878-.739 2.886 2.416-1.545 2.448 1.543-.672-2.853 2.247-1.878-2.883-.234zm-40 0l-1.14 2.751-2.952.135 2.283 1.878-.739 2.886 2.416-1.545 2.448 1.543-.672-2.853 2.247-1.878-2.883-.234zm40-40l-1.14 2.751-2.952.135 2.283 1.878-.739 2.886 2.416-1.545 2.448 1.543-.672-2.852 2.247-1.878-2.883-.234zm-40 0l-1.14 2.751-2.952.135 2.283 1.878-.739 2.886 2.416-1.545 2.448 1.543-.672-2.852 2.247-1.878-2.883-.234zm60 60l-1.14 2.751-2.951.135 2.282 1.878-.739 2.886 2.416-1.545 2.448 1.543-.671-2.852 2.246-1.879-2.883-.233zm-80 0l-1.14 2.751-2.951.135 2.282 1.878-.739 2.886 2.416-1.545 2.448 1.543-.671-2.852 2.247-1.879-2.884-.233zm80-80l-1.14 2.751-2.951.135L78.29.939l-.739 2.886 2.416-1.545 2.448 1.543L81.745.97 83.99-.908l-2.883-.234zm-80 0l-1.14 2.751-2.951.135L-1.71.939l-.739 2.886L-.032 2.28l2.448 1.543L1.745.97 3.99-.907l-2.883-.234zm40 40l-1.14 2.751-2.952.135 2.283 1.878-.739 2.886 2.416-1.545 2.448 1.543-.672-2.853 2.247-1.878-2.883-.234z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 100%, 0.57)'/><path d='M12 70a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zm60 0a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zM12 10a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zm60 0a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zM32 30a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zm0 20a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zm20-20a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2zm0 20a2 2 0 01-2 2 2 2 0 01-2-2 2 2 0 012-2 2 2 0 012 2z'  stroke-width='1' stroke='none' fill='hsla(47, 81%, 61%, 0.67)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
  font-family: 'Arial', sans-serif; /* Add your preferred font */
}

/* Media query for mobile phones */
@media (max-width: 860px) {
  .calendar {
    grid-template-columns: repeat(3, 2fr); /* 1 column for mobile */
    padding: 1px;
    justify-items: center;
  }

  .calendar-container {
    background-color: #af4c4c00 !important;
    box-shadow: none !important;
    margin: auto;
  }

  .main-header {
    margin-bottom:auto;  
  }


}
.calendar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust min size for larger squares */
  gap: 40px 20px;
  padding: 20px;
}

.calendar-container {
  margin: 10px;
  background-color: #4caf4fd0;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 15px;

  /* min-width: 500; */
}
  .calendar-day {
    position: relative; /* Needed for absolute positioning inside the cell */
    color: #ffffff;
    cursor: pointer;
    box-shadow: 
    1px 0px 0px -1px var(--shadow-color),0px 1px 0px -1px var(--shadow-color),
    2px 1px 0px -1px var(--shadow-color),1px 2px 0px -1px var(--shadow-color),
    3px 2px 0px -1px var(--shadow-color),2px 3px 0px -1px var(--shadow-color),
    4px 3px 0px -1px var(--shadow-color),3px 4px 0px -1px var(--shadow-color),
    5px 4px 0px -1px var(--shadow-color),4px 5px 0px -1px var(--shadow-color),
    6px 5px 0px -1px var(--shadow-color),5px 6px 0px -1px var(--shadow-color),
    7px 6px 0px -1px var(--shadow-color),6px 7px 0px -1px var(--shadow-color),
    8px 7px 0px -1px var(--shadow-color),7px 8px 0px -1px var(--shadow-color),
    /* side outline */
    1px 0px 0px black,0px 1px 0px black,
    2px 1px 0px black,1px 2px 0px black,
    3px 2px 0px black,2px 3px 0px black,
    4px 3px 0px black,3px 4px 0px black,
    5px 4px 0px black,4px 5px 0px black,
    6px 5px 0px black,5px 6px 0px black,
    7px 6px 0px black,6px 7px 0px black,
    8px 7px 0px black,7px 8px 0px black,
    /* bottom outline */
    9px 8px 0px black,8px 9px 0px black;
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    background-image: var(--pattern-image); /*important*/
    background-size: 100%;
    border-radius: 3px;
  }
  
  
  :root {
    --pattern-image: url('/patterns/pattern1.png'); /* Default pattern */
    .calendar-day[data-pattern="1"] {
      --pattern-image: url('/patterns/pattern1.png');
    }  
    .calendar-day[data-pattern="2"] {
      --pattern-image: url('/patterns/pattern2.png');
    }
    .calendar-day[data-pattern="3"] {
      --pattern-image: url('/patterns/pattern3.png');
    }
    .calendar-day[data-pattern="4"] {
      --pattern-image: url('/patterns/pattern4.png');
    }
    .calendar-day[data-pattern="5"] {
      --pattern-image: url('/patterns/pattern5.png');
    }
    .calendar-day[data-pattern="6"] {
      --pattern-image: url('/patterns/pattern6.png');
    }
    .calendar-day[data-pattern="7"] {
      --pattern-image: url('/patterns/pattern7.png');
    }
    .calendar-day[data-pattern="8"] {
      --pattern-image: url('/patterns/pattern8.png');
    }
    .calendar-day[data-pattern="9"] {
      --pattern-image: url('/patterns/pattern9.png');
    }
    .calendar-day[data-pattern="10"] {
      --pattern-image: url('/patterns/pattern10.png');
    }
    .calendar-day[data-pattern="11"] {
      --pattern-image: url('/patterns/pattern11.png');
    }
    .calendar-day[data-pattern="12"] {
      --pattern-image: url('/patterns/pattern12.png');
    }
    .calendar-day[data-pattern="13"] {
      --pattern-image: url('/patterns/pattern13.png');
    }
    .calendar-day[data-pattern="14"] {
      --pattern-image: url('/patterns/pattern14.png');
    }
    .calendar-day[data-pattern="15"] {
      --pattern-image: url('/patterns/pattern15.png');
    }
    .calendar-day[data-pattern="16"] {
      --pattern-image: url('/patterns/pattern16.png');
    }
  
    .calendar-day[data-pattern="17"] {
      --pattern-image: url('/patterns/pattern17.png');
    }
  
    .calendar-day[data-pattern="18"] {
      --pattern-image: url('/patterns/pattern18.png');
    }
  
    .calendar-day[data-pattern="19"] {
      --pattern-image: url('/patterns/pattern19.png');
    }
  
    .calendar-day[data-pattern="20"] {
      --pattern-image: url('/patterns/pattern20.png');
    }
  
    .calendar-day[data-pattern="21"] {
      --pattern-image: url('/patterns/pattern21.png');
    }
  
    .calendar-day[data-pattern="22"] {
      --pattern-image: url('/patterns/pattern22.png');
    }
  
    .calendar-day[data-pattern="23"] {
      --pattern-image: url('/patterns/pattern23.png');
    }
  
    .calendar-day[data-pattern="24"] {
      --pattern-image: url('/patterns/pattern24.png');
    }
  }
  
  .calendar-day.future{
    /* background-color: #FF4F38; */
    --shadow-color: #99000038;
    background-image: url('/patterns/pattern0.png');
  }
  
  .calendar-day.past{
    --shadow-color: rgba(59, 125, 79, 0.219);
    /* background-color: #f2a2ee; */
  }
  
  .calendar-day.current{
    --shadow-color: rgba(59, 125, 79, 0.219);
    /* background-color: rgb(93, 189, 122); */
  }
  
  /* On hover, shake present */
  .calendar-day.future.active{
    animation: shake 0.5s ease-in-out;
    animation-iteration-count: 1;
  }
  
  /* rotate back and forwards smoothly */
  
  @keyframes shake {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(2deg); }
    40% { transform: rotate(-2deg); }
    60% { transform: rotate(2deg); }
    80% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }
  @keyframes depressShadow{
    0%{
      transform: translate(0px, 0px);
    }
    20%{
      transform: translate(1px, 1px);
      
    }
    40%{
      transform: translate(2px, 2px);
      
    }
    60%{
      transform: translate(3px, 3px);
      
    }
    80%{
      transform: translate(4px, 4px);
      
    }
    
    
    100%{
      transform: translate(5px, 5px);
      box-shadow: 
      1px 0px 0px -1px var(--shadow-color),0px 1px 0px -1px var(--shadow-color),
      /* side outline */
      1px 0px 0px black,0px 1px 0px black;
      /* bottom outline */
    }
  } 
  
  
  /* On click, depress */
  .calendar-day.opened.active, .calendar-day.current.active, .calendar-day.past.active{
    animation: depressShadow 0.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* alter box shadow */
  }
  
  .calendar-day img {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    /* height: 100%;  */
    position: absolute;
    bottom: 0;
  }
  
  .calendar-day.viewed {
  }
 
  
  .content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Style for the day number */
  .day-number {
    font-size: 24px;
    font-weight: 500;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.625) ;
    position: absolute; /* Position the day number absolutely */
    top: 5px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
  }
  
  .modal-content {
    position: relative;
    width: auto;
    max-width: 100%; /* or other responsive settings */
    box-sizing: border-box; /* Include padding and border */
    /* background-color: red; */
    /* other styles for your modal content */
  }
  
  .modal-close {
    scale: 1;
    position: absolute;
    top: 0px;
    right: -40px;
    border: none;
    background-color: transparent;
    background-image: url("/icon-simple.png");
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 60px;
  }
  .modal-close:hover {
    transition: scale 0.2s;
    scale: 1.05;
  }

  .youtube {
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 685px) {
    /* Apply these styles for screens up to 685px wide */
    .youtube {  
      width: 80vw !important; /* Adjust the percentage as needed */
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      /* border: blue solid 1px; */
      /* background-color: red; */
    }

    /* hides the modal-close button WHEN youtube AND screen is small.*/
    .youtube + .modal-close {
      position:relative;
      /* width: 1.2em; */
      /* right: -1.8em; */
      visibility: hidden;
    }

    /*this works well for all content types except youtube. Why?*/
    .modal-close {
      position:absolute;
      right: -1.8em;
    }

  }
  