@font-face {
  font-family: 'star';
  src:  url(../../fonts/MerryChristmasStar.ttf) format('truetype');
}


#starry_night {
  /* width: 800px; */
  /* height: 533px; */
  width: 80vmin;
  height: 53.3vmin;
  position: relative;
  background: url('./starry_night.png') no-repeat center center;
  background-size: contain;
  border: 0.3em solid #fff;
}

#postcard-message {
  color: #ebedfc;
  font-size: 13vmin;
  padding: 8vmin;
  font-family: 'star', sans-serif;
  text-shadow: 0 0 0.1em #73b9fc;
}

#advice-overlay {
  /* z-index: 80; */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 9, 10, 0.425);
}
#advice-overlay p {
  /* font-family: 'star', sans-serif; */
  color: white;
  font-family: Georgia, serif;
  font-size: 4vmin;
  /* left: 35% !important; */
  top: 65% !important;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  position: relative;
}

.star {
  position: absolute;
  width: 1em;
  height: 1.5em;
  z-index: 100;
  opacity: 0.3;

  transition: transform 0.2s ease-out;
  animation: pulse 2s infinite;
}

.star--hover {
  opacity: 1 !important;
  /* background-color: yellow; */
  transform: scale(1.5);
}

.door {
  position: absolute;
  z-index: 100;
  opacity: 0;
  background-color: yellow;

  /* transition: transform 0.2s ease-out; */
  /* animation: pulse 2s infinite; */

}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}