
#snowglobe {
    width: 295px;
    height: 295px;
    background: url('image.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* Adjust for mobile screens */
@media (max-width: 390px) {
    #snowglobe {
        background-size: contain; /* Use 'contain' to ensure the entire image is visible */
        width: 13em; /* Use 'em' units to scale the image with the font size */
        height: 13em; /* Use 'em' units to scale the image with the font size */
    }
}