
#big_blue {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 200px;
  height: 200px;
  background-color: #4C43CD;
  background: url('button.png') no-repeat center center;
  background-size: cover;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8), inset 0px -2px 1px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: white;
  font-size: 20px;
  text-align: center;
  overflow-wrap: break-word;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

}

#big_blue:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8), inset 0px -1px 1px rgba(255, 255, 255, 0.1);
  transform: scale(0.95);
}

#big_blue label {
  font-size: 1.4em;
  overflow-wrap: break-word;
  padding: 12px;
  font-weight: bold;
  text-shadow: #010108 2px 2px 0px;
  
}

.emoji {
  /* Updated emoji styling */
  position: absolute;
  top: -1vh;
  font-size: 1.7em;
  opacity: 0;
  animation: fall 3s linear forwards, spin 3s linear infinite;
  pointer-events: none;
}

@keyframes fall {
  0% {
      opacity: 0.9;
  }
  40% {
      opacity: 1; /* Reach full opacity sooner */
  }
  100% {
      top: 100vh;
      opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


