#emoji-game-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 90%; /* Use a percentage of the viewport width */
  max-width: 500px; /* Limit the maximum size */
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  background-color: #f9f9f9;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#emoji-game-container h2 {
  text-align: center;
  color: #333;
  font-size: 1.5em;
}

#emoji-game-container p {
  color: #555;
  line-height: 1.5;
  font-size: 1em;
}

#emoji-game-container div {
  margin-bottom: 1em;
}

#emoji-game-container input[type="text"] {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.3em;
  border: 1px solid #ddd;
  border-radius: 0.4em;
  box-sizing: border-box;
  font-size: 1em;
}

#emoji-game-container button {
  width: 100%;
  padding: 0.6em;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
  font-size: 1em;
}

#emoji-game-container button:hover {
  background-color: #4cae4c;
}

#emoji-game-container #score {
  margin-top: 1.5em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

#emoji-game-container #answers p {
  margin-top: 0.5em;
  font-size: 1em;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  #emoji-game-container {
      width: 95%;
      padding: 1.5em;
  }

  #emoji-game-container h2 {
      font-size: 1.3em;
  }

  #emoji-game-container p {
      font-size: 0.9em;
  }
  .emoji-input-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .emoji-input-container .emoji-icon {
      margin-bottom: 0.5em;
  }
}

.emoji-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.emoji-input-container .emoji-icon {
  width: 7em;
  text-align: center;
  margin-right: 1em;
  white-space: nowrap;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  #emoji-game-container {
      width: 90%; /* Increase width on smaller screens */
      padding: 1em; /* Adjust padding if necessary */
  }

  .emoji-input-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .emoji-input-container .emoji-icon {
      width: auto;
      margin-right: 0;
      margin-bottom: 0.5em;
  }
}