/* backup */

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {

  
  .javascript-animation-container {
    width: 80vw;
    margin: 0 auto; /* Center the container */
    font-size: 90%;
    word-spacing: 0.05em;
    overflow-y: auto; /* Allow vertical scrolling */
    height: 75vh; /* Limit height to ensure scrollability */
    padding: 20px; /* Add padding for internal spacing */
    transform: translatex(-5%) !important;
  }
  
  #emoji-game-container h2 {
    margin-top: -0.2em;
    margin-bottom: -0.2em;
  }
  
  
}

@media (max-width: 400px) {
  .javascript-animation-container {
    /* width: 90vw; */
  }

  .emoji-input-container {
    display: block !important; 
    margin:auto;
    
    .emoji-icon,
    input[type="text"] {
      margin: 0 auto; /* Center the elements horizontally */
    }
  }
}

#emoji-game {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 90%; /* Use a percentage of the viewport width */
  max-width: 500px; /* Limit the maximum size */
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  background-color: #f9f9f9;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  min-width: 0;

}

#emoji-game-container div {
  /* margin-bottom: 1em; */
  
}

#emoji-game-container h2 {
  text-align: center;
  color: #333;
  font-size: 2em;
  font-family: 'bluesky';
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}

#emoji-game-container p {
  color: #555;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 1.5;
  font-size: 1em;
  word-wrap: break-word !important;
}


#emoji-game-container input[type="text"] {
  width: 100%;
  max-width: 260px;
  padding: 0.5em;
  margin-top: 0.3em;
  border: 1px solid #ddd;
  border-radius: 0.4em;
  box-sizing: border-box;
  font-size: 1em;

  flex: 1;
}


#emoji-game-container button {
  width: 90%;
  padding: 0.6em;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
  font-size: 1em;

  align-self: center;
}

#emoji-game-container button:hover {
  background-color: #4cae4c;
}

#emoji-game-container #score {
  margin-top: 1.1em;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  font-family: 'bluesky';
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.205);
}

#emoji-game-container #answers p {
  margin-top: 0.5em;
  font-size: 1em;
}

.emoji-input-container {
  width: 90%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.emoji-icon {
  width: 5.5em;
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
  flex: 0 0 auto; /* Flex grow, shrink, and basis set to auto */
}


