 .coloring{
    display: flex;  
    width:70%;
    height: 90%;
    border-radius: 35px;
    align-self: center;
    justify-self: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    padding: 2vmin;    
    justify-content: center;
    align-items: center;        
  }
   
  .held{ 
    position:relative;
    overflow:hidden;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px;
    margin: auto;
    padding: 2vmin; 
    max-width: 90%;
  }
  
  .buttons{
    display:inline-block;
    padding:1em;
  }
  
  #coloring .button{
    transition-duration: 0.4s;
    width:150px;
    padding:10px; 
    background: #7ad0d3; 
    font: 15px Arial, sans-serif;
    height: 40px;    
    outline:none;   
    text-align: center;    
    border-radius:40px;
    background: #fff;
    border: px solid #b33a6d;
    color:#b33a6d;
    letter-spacing:1px;    
    cursor: pointer;
    transition: all 0.25s ease;
  }
    
    
  #coloring .button:hover { 
    color: white;
    background: #b33a6d;
  } 
  
  #ActivityDIV{
    padding:2em; 
    background: white;
    border: 1px;    
  }
  
  #ActivityDIV .swatchHolder{
    position:absolute;
    bottom:0px;
    margin:auto;
    left:0px;
    right:0px;
    list-style-type:none;
    text-align:center;
    letter-spacing:1px;
    font-family:Arial;
    display:inline-block;
    padding: 1.5em;
    width:15em;
    border-radius: 35px 35px 0px 0px;
    color: #232323;   
    border: 0px;
    background-color:beige;
    
  }
  #ActivityDIV .swatchHolder .colorHolder{
    width:100%;
    line-height: 100%;
    content:'Palette';
    padding: 1em 0px;
    margin: 0px auto 15px auto;
    cursor:pointer;
    border-radius: 20px;
  }
  
  #ActivityDIV .swatchHolder li:not(.colorHolder){
    height:25px;
    width:25px;
    margin:2px;
    display:inline-block;
    cursor:pointer;
    border-radius: 20px;
  }
  
  #ActivityDIV svg{
    width:100%;
    display:inline-block;
  }
  
  #ActivityDIV svg path{
    cursor:pointer;     
  }
  
  @media (max-width: 768px) {
    .coloring, .held {
      width: 70%; /* wider on smaller screens */
      box-sizing: border-box; /* Include padding and border in the element's total width and height */
      margin: -1em;
    }
  
    .buttons {
      padding: 10px;
    }
    
    .modal-content
    #coloring .button {
      width: 7em; /* smaller width for buttons */
      font-size: 14px; /* slightly smaller font */
      height: 3em;      
    }
  
    #ActivityDIV .swatchHolder {        
      width: 80%; /* adjust as needed */
    }
  
    #ActivityDIV svg {
        width:100%;
      /* adjust svg size if necessary */
    }
  }
  
  