@font-face {
  font-family: 'hello';

  src: local('hello'), url(./fonts/hello.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


:root {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #061200;
  background-color: #fefff0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  font-weight: 500;
  color: #630d00;
  text-decoration: inherit;
}
a:hover {
  color: rgb(184, 0, 0);
}

body {
  margin: 0;    
  padding: 0;
}

h1 {
  font-size: 5em;
  color: rgb(25, 94, 29);
  line-height: 1.1;
  text-align: center;
  font-family: 'hello', sans-serif; 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888 transparent;
  border-radius: 6px;
}

/* For Firefox */
/* Note: The scrollbar styling for Firefox is currently only supported in Firefox Nightly versions. */
/* You may need to use JavaScript or a library for cross-browser compatibility. */
* {
  scrollbar-color: #888 transparent;
  scrollbar-width: thin;
}

/* For Microsoft Edge and IE */
/* Note: The scrollbar styling for Edge and IE is currently only supported in EdgeHTML 18+. */
/* You may need to use JavaScript or a library for cross-browser compatibility. */
* {
  scrollbar-face-color: #ddd;
  scrollbar-shadow-color: #eee;
  scrollbar-highlight-color: #eee;
  scrollbar-3dlight-color: #eee;
  scrollbar-darkshadow-color: #ddd;
  scrollbar-track-color: #f8f8f8;
}
